body{ margin: 0; color: #222 }
.container{ max-width: 35em; line-height: 1.8em; font-size: 1em; font-family: serif; margin-left: 23em; }
h1,h2,h3{ font-family: sans-serif; color: #333; }
.code{ font-family: monospace; font-size: 1em; line-height: 1.1em; -moz-tab-size: 2; tab-size: 2; }
.sidebar{ height: 100%; top: 0; position: fixed; z-index: 1; background-color: #2156ae; color: white; font-family: sans; font-size: 1em; width: 20em; margin: 0; padding: 1em; }
.sidebar h1,h2,h3{ color: white; }
.sidebar ul { list-style-type: none; margin: 0; padding: 0; }
.sidebar a{ color: white; text-decoration: none; }
.navbar{ margin-left: 20em; }
.navbar a { float: left; line-height: 2em; width: 10em; font-family: sans; font-size: 1.3em; text-decoration: none; text-align: center; color: #2156ae; transition: background-color 0.2s ease; }
.navbar a:hover{ background-color: #2156ae; color: white; }
.clear{ clear: both; }
.tags{ font-style: italic; margin: 0.3em 0; }
.tags a{ color: #444; text-decoration: none; }
.tags a:hover{ text-decoration: underline; }
.date{ color: #333; font-style: italic; margin: 0.3em 0; }
.post-content{ margin-top: 1.5em; }

@media (max-width: 900px) {
  .sidebar { height: auto; position: static; width: auto; }
  .container{ margin-left: 1em; }
  .navbar{ margin-left: 1em; }
}
