<h1><%= @post[:title] %></h1>
<% if @post[:tags].count > 0 %>
  <div class="tags">
    Tagged: 
    <% @post[:tags].each do |tag| %>
      <a href="/tags/<%= tag %>.html"><%= tag %></a> 
    <% end %>
  </div>
  <div class="clear"></div>
<% end %>
<%= @content %>
